<!DOCTYPE html>
<html>
    <head>
        <meta >
        <title>Wayne Foundation</title>
        <link rel="icon" type="image/x-icon" href="{url_for('static', filename='./images/favicon.jpeg')}">
    </head>
    <body>
        <h1>Wayne Foundation</h1>
        <p>Sign Up:</p>
        <form action="/create-user" method="POST">
            <input type="text" id="email" name="email">
            <label for="email">Email</label>
            <input type="password" id="password" name="password">
            <label for="password">Password</label>
            <input type="submit">
        </form>
        <a href="/">Login</a>
    </body>
</html>