<!DOCTYPE html>
<html>
    <head>
        <meta >
        <title>Wayne Foundation</title>
        <link rel="icon" type="image/x-icon" href="{url_for('static', filename='./images/favicon.jpeg')}">
        <link rel="stylesheet" href="{{url_for('static', filename='./css/index.css')}}">
    </head>
    <body>
        <h1>Wayne Foundation</h1>
        <form action="/data/{{ email }}" method="POST">
            <input type="number" id="ventas" name="ventas" value="{{ ventas }}">
            <label for="ventas">Ventas</label>
            <input type="number" id="costos" name="costos" value="{{ costos }}">
            <label for="costos">Costos</label>
            <input type="submit">
        </form>
    </body>
</html>